.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropzone {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 500px;
  margin: 50px auto;
  background-color: #add8e6; /* baby blue */
  border: solid 5px #ff6b6b;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 0 0 transparent;
  color: #333333;
}

.dropzone:hover {
  background-color: #87cefa; /* light blue */
  box-shadow: 0 0 0 10px rgba(77, 144, 254, 0.4);
  border: solid 5px;
  border-color: #ffff00;
}
.dropzone p {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.button {
  font-family: "Futura", sans-serif;
  font-weight: bold;
  outline: none;
  border: 3px solid #130606;
  backgroundcolor: white;
  padding: 10px;
  width: 200px;
  marginbottom: 10;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}

.connectedButton {
  outline: none;
  border: 3px solid #130606;
  background-color: #ff6b6b;
  padding: 10px;
  width: 200px;
  marginbottom: 10;
  text-align: center;
  border-radius: 10px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
  border: 1px solid gray;
  object-fit: contain;
  object-position: center;
}
